<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail Username Checker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div class="container">
        <h1>Gmail Username Checker</h1>
        <hr>
        <br>
        <form action="/" method="POST">
            <label for="usernameInput">Enter the username below to check</label>
            <input type="text" name="username" id="username">
            <input type="submit" name="submitBtn" id="submitBtn" value="Submit">
        </form>
    </div>
    <% if(locals.username){ %>
        <div class="hiddenBox">
            <p>
                <%= username %>
                    <%= response %>
            </p>
        </div>
    <% } else { %>
            <div class="hiddenBox">
                <p>
                    <%= response %>
                </p>
            </div>
    <% }%>

</body>
<script>
    let username = document.getElementById('username');
    let btn = document.getElementById('submitBtn');

    btn.addEventListener('click', (event) => {
        if (username.value === '') {
            event.preventDefault();
            alert('Please Enter a Username !');
        }
    })
</script>

</html>