*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(19, 19, 22, 0.907);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
}
.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 1em;
}
label{
    font-size: 1em;
}
input{
    font-size: 1em;
    padding: 0.5em ;
    outline: none;
    width: 100%;
    font-weight: 600;
}

input[type='submit']:hover{
    cursor: pointer;
}